/*Adding break point to make the map page fully responsive*/
@media screen and (max-width: 768px) {
    .map-class {
        min-height: 500px;
        max-height: 700px;        
    }
    .info-box {
        width: 100%;
    }
    #idBtnFun, #idDivBtnFun {
        display: none;
    }
}
